@import '../utils/Vars.scss';

.description__boxleft{
    display:grid;
    grid-column:1/4;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 4rem 1rem;
    border-radius:20px 0 0 0;
    box-shadow: 0px 5px 5px 3px $shadow-color;
    text-decoration:none;
    &-imagebox{
        grid-column:3/4;
        grid-row:1/3;
        background:$complementary-color3;
        min-height:2rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-subtitlebox{
        grid-column:1/3;
        min-height:4rem;
        max-height: 6rem;
        background:$lightgray-color3;
        border-radius: 20px 0 0;
        padding:.5rem;
        & h2 {
            text-align:right;
        }
    }
    &-textbox{
        padding:.5rem;
        grid-column:1/3;
        min-height:4rem;
        background:$white-color;
        // & p{
        //     color:$darkgray-color1;
        // }
    }
}