@import '../utils/Vars.scss';

.navbar{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $lightgray-color4;
    background-color: $darkgray-color3;
    z-index: 100;
    &__list{
        display:flex;
        justify-content:space-around;
        list-style-type: none;
        padding-inline-start: 0;
    } & a, li {
        color:$lightgray-color4;
        font-family: $base-font;
        font-weight: $utils-fontweight;
        text-decoration: none;
    } 
}