@import '../utils/Vars.scss';

.social__container {
    min-height: 3rem;
    background-color: $darkgray-color3;
}

.icons__container {
    display:flex;
    justify-content:space-evenly;
    &-icon{
        margin:1rem 0 0 0;
    }
}