# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:madebynel.com
<IfModule mod_reqrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^index\.html - [L]
</IfModule>
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:madebynel.com
