@import '../base/Fonts.scss';
// @import '../components/Hero.scss';
@import '../utils/Vars.scss';
@import '../base/Layout.scss';
@import '../utils/Animations.scss';
body {
    margin: 0;
    background:$darkgray-color3;
}

#app{
    padding:6rem 0 0 0;
    & > div, > section{
        padding:0 0 5rem 0;
    }
}

// @media only screen and (orientation:landscape){
//   body {
//     // height: 100vw;
//     transform: rotate(90deg);
//   }
// }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  body{
      height:100vw
  }
}