@import '../base/Fonts.scss';
// @import '../components/Hero.scss';
@import '../utils/Vars.scss';
@import '../base/Layout.scss';
@import '../utils/Animations.scss';
body {
    margin: 0;
    background:$darkgray-color3;
}

#app{
    & > div, > section{
        padding:0 0 5rem 0;
    }
}